#brandNaming{
    width: inherit;
    height: 728px;
    display: inline-flex;
    border: solid 1px blue;
}

#brandNaming-header{
    width: 735px;
    height: 528px;
    margin-right: -190px;
    padding: 152px 0px 152px 165px;
    z-index: 1;
    background-color: var(--bgBlack);
}

#brandNaming-header > div{
    width: 637px;
    height: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('./img/bg-pattern-wavy-white.svg') 100% 34px / 134px no-repeat;
    border: solid 1px red
}

#brandNaming-header h2{
    width: 445px;
    height: 133px;
    color: white;
}

#brandNaming-navBar{
    width: 96px;
    height: 40px;
    border: solid 1px red
}

#brandNaming-project{
    width: 895px;
    height: inherit;
    background-color: grey;
}