.project{
    width: 895px;
    height: inherit;
    background: center/895px no-repeat;
    position: absolute;
    margin-left: 545px;
    transition: opacity 1s ease-in-out;
}

.projectDetails{
    width: inherit;
    height: 200px;
    padding: 68px 154px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    color: white;
    bottom: 0px;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.projectTitle{
    font: 400 20px/32px 'Commissioner-ExtraBold';
}

.projectDate{
    font: 400 18px/32px 'Commissioner-Regular';
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    .project{
        width: 438px;
        padding: 390px 40px 0px 0px;
        background: right/580px no-repeat;
        margin-left: 330px;
    }
    
    .projectDetails{
        height: 130px;
        padding:45px 40px 0px 0px;
    }
    
    .projectTitle{
        font: 400 15px/20px 'Commissioner-ExtraBold';
    }
    
    .projectDate{
        font: 400 15px/20px 'Commissioner-Regular';
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    .project{
        width: inherit;
        height: 370px;
        padding: 298px 32px 0px 0px;
        background: top/460px no-repeat;
        position: absolute;
        margin-left: 0px;
        margin-bottom: 272px;
    }

    
    .projectDetails{
        height: 111px;
        padding: 36px 32px 0px 0px;
    }
    
    .projectTitle{
        font: 400 15px/20px 'Commissioner-ExtraBold';
    }
    
    .projectDate{
        font: 400 15px/20px 'Commissioner-Regular';
    }
}