#desktopNavBar{
    width: 1440px;
    height: 178px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url('./img/logo.svg') 165px 50%/161px no-repeat;
}

#desktopMenu{
    width: 705px;
    height: inherit;
    padding-left: 69px;
    display:inline-flex;
    align-items: center;
    background-color: var(--red);
    float:right;
}

#desktopMenu div{
    width: 223px;
    margin-right: 49px;
    display:inline-flex;
    justify-content: space-between;
}

.menuButton{
    height: 32px;
    width: auto;
    padding: 0px;
    text-align: center;
    font: 400 16px/1 'Commissioner-Regular';
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: text-shadow 0.3s ease;
}

@media(hover:hover){
    .menuButton:hover{
        text-shadow: 0 0 2px white;
    }    
}

#desktopMenu-scheduleBt{
    height: 64px;
    padding: 23px 45px;
    background-color:var(--bgBlack);
}

@media(hover:hover){
    #desktopMenu-scheduleBt:hover{
        background-color:#434356;
    } 
}

#mobileIcon{
    width: 24px;
    height: 20px;
    margin-right: 24px;
    border: none;
    background-color: transparent;
    cursor:pointer;
    display: none;
}

.mobileIconBurger{
    background: url('./img/icon-hamburger.svg') center/24px no-repeat;
}

.mobileIconCross{
    background: url('./img/icon-cross.svg') center/20px no-repeat;
}

#mobileMenu{
    width: 252px;
    height: 292px;
    position: absolute;
    display: none;
    z-index: 3;
    padding: 32px 27px 0px;
    top:110px;
    background-color: var(--bgBlack);
    right: 26px;
}

#mobileMenu div{
    width: 199px;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#mobileMenu button[class='menuButton']{
    font: 400 18px/32px 'Commissioner-Regular';
}

#mobileMenu-scheduleBt{
    height: 64px;
    padding: 23px 44px;
    background-color:var(--red);
}



/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #desktopNavBar{
        width: inherit;
        background-position: 39px 50%;
        border: solid 1px red;
    }
    
    #desktopMenu{
        width: 438px;
        height: inherit;
        padding-left: 33px;
    }
    
    #desktopMenu div{
        width: 190px;
        margin-right: 28px;
    }
    
    .menuButton{
        font: 400 15px/1 'Commissioner-Regular';
    }
    
    #desktopMenu-scheduleBt{
        padding: 23px 19px;
    }
}


/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #desktopNavBar{
        width: inherit;
        height: 110px;
        background: url('./img/logo.svg') 24px 50%/161px no-repeat;
    }
    
    #desktopMenu{
        display: none;
    }

    #mobileIcon{
        display: block;
    }
}