footer{
    width: inherit;
    height: 368px;
    padding-top: 120px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    background: url(./img/bg-pattern-wave-red.svg) -67px 154px/134px no-repeat ;
}

footer div{
    width: 1110px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

footer h2{
    width: 635px;
    height: 133px;
}

footer button{
    height: 64px;
    padding: 0px 45px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    footer{
        height: 251px;
        padding-top: 70px;
        display: inline-flex;
        background: none;
    }
    
    footer div{
        width: 689px;
    }
    
    footer h2{
        width: 398px;
        height: 80px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    footer{
        height: 391px;
        padding-top: 0px;
        align-items: center;
        background: none;
    }
    
    footer div{
        width: 332px;
        height: 191px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    footer h2{
        width: inherit;
        height: 80px;
    }
}