#approach{
    width: inherit;
    height: 1100px;
    margin-top: -200px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#approach h2{
    width: 540px;
    height: 192px;
    margin: 400px -144px 0px 0px;
    z-index: 1;
    color: black;
}

#approach-content{
    height: inherit;
    width: 895px;
    background-color: var(--red);
}

#approach-guidelines{
    width: 504px;
    height: auto;
    display:flex;
    margin: 200px 0px 0px 285px;
    flex-direction: column;
}

.guideline-container{
    color: white;
    margin-bottom: 56px;
}

.guideline-point-number{
    width: inherit;
    height: 88px;
    font: 800 80px/88px 'Commissioner-ExtraBold';
    opacity:0.25;
}

.guideline-point-content{
    width: 445px;
    height: auto;
    float: right;
    margin-top: -44px;
}

.guideline-point-header{
    width: inherit;
    height: 32px;
    font: 400 20px/32px 'Commissioner-ExtraBold';
    margin-bottom: 24px;
}

/*############################## TABLET VERSION ##############################*/

@media (min-width: 768px) and (max-width: 1024px) {
    #approach{
        height: 797px;
        margin-top: -120px;
    }
    
    #approach h2{
        width: 284px;
        height: 120px;
        margin: 246px 10px 0px 0px;
    }
    
    #approach-content{
        width: 438px;
    }
    
    #approach-guidelines{
        width: 355px;
        margin: 120px 0px 0px 43px;
    }
    
    .guideline-container{
        margin-bottom: 40px;
    }

    .guideline-point-content{
        width: 339px;
        height: auto;
        float: right;
        margin-top: -44px;
    }
    
    .guideline-point-header{
        width: inherit;
        height: 25px;
        font: 400 15px/25px 'Commissioner-ExtraBold';
        margin-bottom: 15px;
    }
}

/*############################## MOBILE VERSION ##############################*/

@media screen and (max-width:767px) {
    #approach{
        width: inherit;
        height: 1100px;
        margin-top: 0px;
        display: inline-flex;
        align-items: flex-start;
        justify-content: flex-end;
    }
    
    #approach h2{
        width: 540px;
        height: 192px;
        margin: 400px -144px 0px 0px;
        z-index: 1;
        color: black;
    }
    
    #approach-content{
        height: inherit;
        width: 895px;
        background-color: var(--red);
    }
    
    #approach-guidelines{
        width: 504px;
        height: auto;
        display:flex;
        margin: 200px 0px 0px 285px;
        flex-direction: column;
    }
    
    .guideline-container{
        color: white;
        margin-bottom: 56px;
    }
    
    .guideline-point-number{
        width: inherit;
        height: 88px;
        font: 800 80px/88px 'Commissioner-ExtraBold';
        opacity:0.25;
    }
    
    .guideline-point-content{
        width: 445px;
        height: auto;
        float: right;
        margin-top: -44px;
    }
    
    .guideline-point-header{
        width: inherit;
        height: 32px;
        font: 400 20px/32px 'Commissioner-ExtraBold';
        margin-bottom: 24px;
    }
}
